{% extends 'online_store/base.html' %}
{% block content %}
{% for object in page_obj %}
<div class="col-3">
    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{ object.title|slice:'29' }}</h4>
        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title">${{ object.price }} <small class="text-muted"></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
                <li>{{ object.description|slice:'100' }}</li>

                <li>
                    {% if object == version.product %}
                        Версия - {{ version.version_name }}
                    {% else %}
                        Версия не задана
                    {% endif %}
                </li>
            </ul>
            <a href="{% url 'online_store:product-detail' object.id %}" class="m-2">
                <button type="button" class="btn btn-lg btn-block btn-outline-primary">Подробнее о товаре</button>
            </a>
        </div>
    </div>
</div>
{% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}