{% extends 'online_store/base.html' %}
{% load my_tags %}
{% block content %}
<div class="card mb-4 shadow-sm">
    <img class="card-img-top"
         src="{{ object.image|mymedia }}"
         width="1140" height="627"
         alt="Card image cap"
         sizes="(max-width: 940px) 100vw, 940px">
    <div class="card-header text-center">
        <h4 class="my-0 font-weight-normal">Описание товара</h4>
    </div>
    <div class="card-body">
        <h1 class="card-title pricing-card-title">Стоимость - ${{ object.price }} <small class="text-muted"></small>
        </h1>
        <ul class="list-unstyled mt-3 mb-4">
            <li>{{ object.description }}</li>
        </ul>
        {% if user.is_authenticated %}
        <a href="{% url 'online_store:product-edit' object.pk %}" type="button"
           class="btn btn-lg btn-block btn-outline-primary">Изменить</a>
            {% if perms.online_store.delete_product %}
            <a href="{% url 'online_store:product-delete' object.pk %}" type="button"
               class="btn btn-lg btn-block btn-outline-danger">Удалить</a>
            {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}